@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Tracks";
}

<div layout="column" flex ng-controller="TrackController as main">
    <md-toolbar class="md-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Tracks
            </h3>
        </div>
    </md-toolbar>

    <md-content layout="column" class="bgBody" layout-align="top start" flex layout-padding md-scroll-y layout-fill>
        <form name="packageform">
            <md-card>
                <md-card-title>
                    <h4>Existing Tracks</h4>
                </md-card-title>
                <md-card-content>
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Presenters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="track in main.tracks">
                                <td>{{track.title}}</td>
                                <td>{{track.description}}</td>
                                <td>{{track.presenters}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <h4>Add New Track</h4>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <md-input-container>
                        <label>Title</label>
                        <input type="text" ng-model="main.newtrack.title" />
                    </md-input-container>
                    <md-input-container>
                        <label>Description</label>
                        <input type="text" ng-model="main.newtrack.description" />
                    </md-input-container>
                    <md-input-container>
                        <label>Presenters</label>
                        <input type="text" ng-model="main.newtrack.presenters" />
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="main.Submit()" class="md-raised md-primary">Submit</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </md-content>
</div>